body{background-color: aqua; color: black}
h1{font-size:xx-large; color: black; text-align: center;}
h2{color: darkblue; font-size:x-large;text-align: center; text-decoration: underline;}
p{color: black; font-size:large; text-align:left;}
h3{font-size:large; color: darkred; font-family: arial, Arial, Helvetica, sans-serif;}

